# Packaging
.eggs
paat/__pycache__
paat.egg-info
dist/

# Pytest
tests/__pycache__
.pytest_cache

# Documentation
docs/build/
docs/source/_static/copybutton.js
source/

.ipynb_checkpoints/

poetry.lock
.coverage
coverage.xml

# Paper
paper/media/
paper/jats/
paper/img/paat_presentation*
paper.jats
paper.pdf
paper/process.py