# Packaging
.eggs
paat/__pycache__
paat.egg-info
dist/

# Pytest
tests/__pycache__
.pytest_cache

# Documentation
docs/build/
docs/source/_static/copybutton.js

.ipynb_checkpoints/

poetry.lock
.coverage
coverage.xml
